<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enjoy B&B</title>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
      <div class="header">
        <div class="nav_menu">
            <ul class="nav_bar">
                <li><a href="/about">About Us</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </div>
      </div>

      <div class="container">
 